.navbar{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}